body{
     background-color: bisque;
}
header{
    background-color: green;
}
#gato {
    width:220px;
    height: 220px;
    padding: left 600px;
    padding-right: 10px;
}
#cachorro {
    width: 220px;
    height: 220px;
    padding: left 2px;
    padding-right: 1200px;
}

link:focus-visible