body{
     background-color: rgb(241, 232, 220);
     #gato2 {
        width: 512px;
        height: 499px;
        padding: left 400px;
        padding-right: 400px;
     }
}
header{
    background-color: rgb(110, 92, 70);
}
#gato {
    width:220px;
    height: 220px;
    padding: left 400px;
    padding-right: 100px;
}
#cachorro {
    width: 220px;
    height: 220px;
    padding: left 0px;
    padding-right: 400px;
}


link:focus-visible