body{
     background-color: bisque;
}
header{
    background-color: green;
}
#gato {
    width:220px;
    height: 220px;
    padding: left 900px;
    padding-right: 10px;
}
#cachorro {
    width: 220px;
    height: 220px;
    padding-left:10px;
    padding-right: 1000px;
}

link:focus-visible